<h2>Videos</h2>
<table>
  <thead>
    <tr>
      <th>Video</th>
      <th>Title</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% @user.videos.each do |video| %>
      <tr>
        <td><%= youtube_thumbnail video %></td>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= render :partial => 'tags/tags', :object => video.tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Photos</h2>
<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% @user.photos.each do |photo| %>
      <tr>
        <td><%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, :class => 'fancybox', :rel => 'photos' %></td>
        <td><%= photo.description %></td>
        <td><%= render :partial => 'tags/tags', :object => photo.tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>
