<h2><%= @event.name %></h2>

<% if photos = @event.photos.presence %>
  <h3><%= link_to 'Photos', photos_path %></h3>
  <ul class="media-grid">
    <%= render photos %>
  </ul>
<% end %>

<% if videos = @event.videos.presence %>
  <h3><%= link_to 'Videos', videos_path %></h3>
  <ul class="media-grid">
    <%= render videos %>
  </ul>
<% end %>
