<% sidebar do %>
  <h2>Photo sessions</h2>
  <ul>
    <li>Practice - 2011-10-01</li>
    <li>Kungsbacka GK - 2011-06-22</li>
  </ul>
<% end %>

<h2>Practice <small>2011-10-01</small></h2>
<ul class="media-grid">
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
</ul>


<h2>Kungsbacka GK <small>2011-06-22</small></h2>
<ul class="media-grid">
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
  <li>
    <%= link_to image_tag('foo', :size => '90x90'), '#' %>
  </li>
</ul>
