<% sidebar do %>
  <h2>Photo sessions</h2>
  <ul>
    <li>Practice - 2011-10-01</li>
    <li>Kungsbacka GK - 2011-06-22</li>
  </ul>
<% end %>

<h2>Practice <small>2011-10-01</small></h2>
<div class="photos">
  <div class="row">
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
  </div>
</div>


<h2>Kungsbacka GK <small>2011-06-22</small></h2>
<div class="photos">
  <div class="row">
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
    <div class="span2">
      <%= image_tag 'foo', :size => '100x100' %>
    </div>
  </div>
</div>
