<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= stylesheet_link_tag 'admin' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to 'Admin', admin_root_path, :class => 'brand' %>
          <ul class="nav">
            <%= admin_menu_link :events %>
            <%= admin_menu_link :photos %>
            <%= admin_menu_link :videos %>
            <%= admin_menu_link :slider_photos %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span14">
            <% if flash.present? %>
              <div id="flash">
                <% flash.each do |type, message| %>
                  <p class="alert-message <%= type %>"><%= message %></p>
                <% end %>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>

  </body>
</html>
