<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= stylesheet_link_tag 'admin' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h2><%= link_to 'Admin', admin_root_path %></h2>

    <% if flash.present? %>
      <div id="flash">
        <% flash.each do |type, message| %>
          <p class="alert-message <%= type %>"><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
