<!DOCTYPE html>
<html>
  <head>
    <title>Leading Edge</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to 'Leading Edge', root_path, :class => 'brand' %>
          <ul class="nav">
            <%= menu_link :root %>
            <%= menu_link :events %>
            <%= menu_link :photos %>
            <%= menu_link :videos %>
            <%= menu_link :about %>
            <%= menu_link :blog_posts %>

            <% if user_signed_in? %>
              <li>
                <%= link_to 'Admin', admin_root_path %>
              </li>
            <% end %>
          </ul>
          <div class="pull-right">
            <ul class="nav">
              <li>
                <% if user_signed_in? %>
                  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
                <% else %>
                  <%= link_to_rpx 'Sign in', user_session_url %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1><%= page_title %></h1>
        </div>
        <%= yield :slider %>
        <div class="row">
          <% if sidebar_content = yield(:sidebar).presence %>
            <div class="span10">
              <%= yield %>
            </div>
            <div class="span4">
              <%= sidebar_content %>
            </div>
          <% else %>
            <div class="span14">
              <%= yield %>
            </div>
          <% end %>
        </div>
      </div>

      <footer>
        <p>&copy; Leading Edge <%= Date.today.year %></p>
      </footer>

    </div>

    <%= javascript_include_rpx(user_session_url) %>
  </body>
</html>
