<!DOCTYPE html>
<html>
  <head>
    <title>Leading Edge</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to 'Leading Edge', root_path, :class => 'brand' %>
          <ul class="nav">
            <%= render 'shared/search' %>
            
            <li><%= link_to 'Blog', blog_posts_path %></li>
          </ul>
          <div class="pull-right">
            <ul class="nav">
              <li>
                <% if user_signed_in? %>
                  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
                <% else %>
                  <%= link_to_rpx 'Sign in', user_session_url %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1><%= page_title %></h1>
        </div>
        <%= yield :slider %>
        <div class="row">
          <div class="span14">
            <%= render :partial => 'shared/flash', :object => flash %>
          </div>

          <div class="span14">
            <%= yield %>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Leading Edge <%= Date.today.year %></p>
      </footer>

    </div>

    <%= javascript_include_rpx(user_session_url) %>
  </body>
</html>
